h1 {
    display: grid;
    grid-template: auto;
  }
  
/* added on 01-22-24 */
body {
    font-family: 'Roboto', sans-serif;
}

header {  
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    font-family: 'Roboto';
    text-align: center;
    background-color: #ACC835;
    color: #070707;
    padding: 20px;
}
/* added on 01-22-24 */
nav {
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    background-color: #2c3e50;
    padding: 20px;
}
/* added on 01-22-24 */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
/* added on 01-22-24 */
nav li {
    margin: 0 10px;
}
/* added on 01-22-24 */
nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ACC835;
    padding: 15px;
    margin-bottom: 20px;
}

.card ul {
    list-style-type: none;
}

.responsive {
    max-width: 200px;
    height: auto;
  }

footer {
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    background-color: #ACC835;
    color: #070707;
    text-align: center;
    padding: 10px;
}


/*  back up color ideas #473198; #563BB8; #D89EF4; */