@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Merienda&display=swap');

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #9681DF;
    padding: 15px;
    border-radius: 8px;
}

.card ul {
    list-style-type: none;
}

footer {
    background-color: #9681DF;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/*  back up color ideas #473198; #563BB8; #D89EF4; */