@media screen and (min-width: 640px) {
    /* #menu::before{
        display: none;
    } */
    nav {
        flex-direction: row;
    }
    nav ul {
        display: flex;
    }
    nav a {
        display: block;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    h2 {
        grid-column: 1 / 3;
    }
}