body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 750px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #ACC835;
}

h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}